<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=msdb3.surftown.dk;User Id=gettodo_gtdweb;Password=tr4fficj4m;Initial Catalog=gettodo_GetItDone;App=GetItDone" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TaskModelContainer" connectionString="metadata=res://*/DAL.TaskModel.csdl|res://*/DAL.TaskModel.ssdl|res://*/DAL.TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msdb3.surftown.dk;User Id=gettodo_gtdweb;Password=tr4fficj4m;Initial Catalog=gettodo_GetItDone;App=GetItDone;multipleactiveresultsets=True&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="no-reply@gettodone.dk" deliveryMethod="Network" xdt:Transform="Replace">
        <network host="mailout1.surf-town.net" />
      </smtp>
    </mailSettings>    
  </system.net>
</configuration>